<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time to Play!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div>
        <header>
            <h1>Game Categories</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </header>
        <div>
            <section>
                    {% for category in categories %}
                    <div>
                        <h3>{{category.name}}</h3>
                        <hr>
                    </div>
                    {% endfor %}
            </section>
        </div>
    </div>
    
</body>
</html>