<!DOCTYPE html>
<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div>
        <header>
            <h1>{{ category.name }}</h1>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    <strong>{{ message }}</strong>
                </li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <br>
            <a href='{{url_for('newGame', category_id = category.id) }}'>
                Create New Game</a>
            <br>
            <a href='{{url_for('categories') }}'>
                Game Categories</a>
        </header>

        <div>
            <section>
                {% for game in games %}
                <div>
                    <h3><a href='{{url_for('gameDescription', category_id = category.id, game_id = game.id) }}'>{{game.name}}</a></br></h3>
                    <a href='{{url_for('editGame', category_id = category.id, game_id = game.id) }}'>Edit</a>
                    </br>
                    <a href='{{url_for('deleteGame', category_id = category.id, game_id = game.id ) }}'>Delete</a>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
</body>

</html>