<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time to Play!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <main>
        <div class="main_container">
            <h1>Are you sure you wanna delete {{game.name}}?</h1>
            <form action="{{url_for('deleteGame', category_id = category_id, game_id = game.id)}}" method="POST">
                <input type="submit", value="Delete">
            </form>
            <a href="{{url_for('categoryGames', category_id = category_id)}}">Back</a>
        </div>
    </main>
    
</body>
</html>