<!DOCTYPE html>
<html>
<body>
    <h1>Edit Game</h1>
    <form action="{{url_for('editGame',category_id = category_id, game_id = game_id)}}" method="POST">
        <p>Name:</p><input type="text" placeholder="{{game.name}}" size="30" name="name">
        <input type="submit" value="Edit">
        <p>Description:</p><textarea rows="4" placeholder="{{game.description}}" cols="50" name="description"></textarea>
        <input type="submit" value="Edit">
    </form>
    <a href="{{url_for('categoryGames', category_id = category_id)}}">Cancel</a>
</body>
</html>