<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time to Play!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <main>
        <div class="main_container">
            <h1>Edit Game</h1>
            <form action="{{url_for('editGame',category_id = category_id, game_id = game_id)}}" method="POST">
                <p>Name:</p><input type="text" placeholder="{{game.name}}" size="30" name="name">
                <input type="submit" value="Edit">
                <p>Description:</p><textarea rows="4" placeholder="{{game.description}}" cols="50" name="description"></textarea>
                <input type="submit" value="Edit">
            </form>
            <a href="{{url_for('categoryGames', category_id = category_id)}}">Back</a>
        </div>
    </main>
    
</body>
</html>