<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time to Play!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <main>
        <div class="main_container">
            <h1>{{ game.name }}</h1>
            <p>{{ game.description }}</p>
            <a href="{{url_for('categoryGames', category_id = category_id)}}">Back to {{ category.name }}</a>
        </div>
    </main>

</body>
</html>