<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Time to Play!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <div class="header_inner">
            <h1>Game Categories</h1>
            <a href="{{url_for('showLogin')}}">Click Here to Log in </a>
        </div>
    </header>

    <main>
        <div class="main_container"> 
            {% for category in categories %}
            <h3><a href = "{{url_for('categoryGames', category_id = category.id)}}">{{category.name}}</h3></a></br>
            {% endfor %}
        </div>
    </main>

</body>
</html>